*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.navbar{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(47, 48, 48,.95);
    font-style: inherit;
    font-size: 15px;
    color: #ebeced;
    padding: 11px 450px 11px 450px;
}
.nav-list{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
.search-icon .search{
    width: 17px;
    height: 17px;
}
.navbar img{
    width: 22px;
    height: 21px;
}
.pandemic{
    background-color: #1c7be8;
    text-align: center;
    padding: 14.5px 14.5px;
}
.pandemic a{
    text-decoration: none;
    font-family: Arial;
    font-style: inherit;
    font-size: 15px;
    color: #f5f6f7;
}
.shop{
    background-color: whitesmoke;
    text-align: center;
    padding: 15px 15px;
}
.shop p a{
    text-decoration: none;
}

.text-shop{
    color: blue;
}
.body-watch{
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: 100%;
    color: cornsilk;
    padding-top: 40px;
    text-align: center;
    height: 33.7rem;

}
.body-watch img{
    padding-top: 20px;
    height: 60%;
}
h1{
    font-family: 'Roboto', sans-serif;
    color: white;
    letter-spacing: 3px;
    font-size: 39px;
}
h1 img{
    height: 40px;
}
.series6{
    font-family: 'Roboto', sans-serif;
    color: #d10016;
    letter-spacing: 3px;
    padding-left: 17px;
}
.body-watch p{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 50px;
    padding-top: 15px;
}
.body-watch .option-buy{
    padding-top: 10px;
    font-size: 20px;
}
.body-watch .option-buy a{
    padding-right: 30px;
    color: #2071f5;
    text-decoration: none;
}
.body-ipad{
    background-color: #f1eff2;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding-top: 53px;
    height: 50rem;
}
.body-ipad .october-text{
    font-size: 13px;
    color: firebrick;
}
.body-ipad h1{
    color: #1f1e1e;
    font-size: 50px;
    font-weight: 1500;
    letter-spacing: normal;
}
.body-ipad .three-text{
    font-size: 30px;
    font-weight: 400;
    padding: 0px 700px 20px 700px;
}
.body-ipad a{
    text-decoration: none;
    padding-right: 30px;
    font-size: 22px;
    color: #2071f5;
}
.body-ipad img{
    width: 850px;
    height: 300px;
    padding-top: 30px;
}
.body-sixbox{
    display: flex;
    height: 40rem;
}
.body-sixbox .iwatch{
    background-color: #f0f0f2;
    flex: 1;
    align-items: center;
    border: 1px solid black;
}
.body-sixbox .iwatch img{
    padding-left: 300px;
    padding-top: 300px;

}
.body-sixbox .ione{
    background-color: #f0f0f2;
    flex: 1;
    align-items: center;
    border: 1px solid black;
}
.body-sixbox .ione img{
    height: 300px;
    padding-top: 300px;
    padding-left: 300px;
}