*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.navbar{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(47, 48, 48,.95);
    font-style: inherit;
    font-size: 15px;
    color: #ebeced;
    padding: 11px 450px 11px 450px;
}
.nav-list{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
.search-icon .search{
    width: 17px;
    height: 17px;
}
.navbar img{
    width: 22px;
    height: 21px;
}
.shop{
    background-color: whitesmoke;
    text-align: center;
    padding: 15px 15px;
}
.shop p a{
    text-decoration: none;
}

.text-shop{
    color: blue;
}
.apple12-pro{
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 50%;
    background-color: #000000;
    text-align: center;
}
.apple12-pro h1{
    color: white;
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}
.apple12-pro p{
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-top: 8px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
}
.apple12-pro a{
    color: #2b7cff;
    text-decoration: none;
    padding-left: 40px;
    font-size: 20px;
    font-weight: bold;
}
.apple12-pro img{
    padding: 2% 10% 0% 30%;
} 
.specification{
    display: flex;
    padding-left: 40%;
    align-items: center;
}
.specs, .specs2{
    padding: 30px;
}
.specs h1{
    color: white;
    font-size: 22px;
}
.specs p{
    color: gray;
    font-size: 17px;
}
.specs2 h1{
    color: white;
    font-size: 22px;
}
.specs2 p{
    color: gray;
    font-size: 17px;
}


.apple12{
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 50%;
    background-color: white;
    text-align: center;
}
.apple12 h1{
    color: black;
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}
.apple12 p{
    font-family: 'Montserrat', sans-serif;
    color: black;
    padding-top: 8px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
}
.apple12 a{
    color: #2b7cff;
    text-decoration: none;
    padding-left: 40px;
    font-size: 20px;
    font-weight: bold;
}
.specification{
    display: flex;
    padding-left: 40%;
    align-items: center;
}
.specs, .specs2{
    padding: 30px;
}
.specs h1{
    color: black;
    font-size: 22px;
}
.specs p{
    color: gray;
    font-size: 17px;
}
.specs2 h1{
    color: black;
    font-size: 22px;
}
.specs2 p{
    color: gray;
    font-size: 17px;
}


.body-ipad{
    background-color: #fbfbfd;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding-top: 53px;
    height: 37rem;
}
.body-ipad h1{
    color: #1f1e1e;
    font-size: 50px;
    font-weight: 1500;
    letter-spacing: normal;
}
.body-ipad .three-text{
    font-size: 30px;
    font-weight: 400;
    padding: 0px 700px 20px 700px;
}
.body-ipad a{
    text-decoration: none;
    padding-right: 30px;
    font-size: 22px;
    color: #2071f5;
}
.body-ipad img{
    width: 850px;
    height: 300px;
    padding-top: 30px;
}

.column-box{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
.apple-one{
    align-content: center;
    text-align: center;
    flex: 1;
    background-color: #fbfbfd;
    height: 35rem;
}
.apple-one img{
    height: 300px;
}
.apple-one h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    text-align: center;
}
.apple-one h1 img{
    height: 30px;
    align-content: center;
}
.apple-one p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.apple-one a{
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    align-content: center;
    font-size: 15px;
    color: #2984bf;
    text-decoration: none;
    font-weight: bold;
}
.apple-watch{
    background-color: black;
    flex: 1;
    align-content: center;
    text-align: center;
    height: 35rem;
}
.apple-watch h1{
    color: white;
}
.apple-watch h1 img{
    height: 30px;
    align-content: center;
}
.apple-watch p{
    color: white;
}
.apple-watch .series{
    color: #c51d28;
    font-weight: bold;
}
.apple-watch img{
    height: 350px;
}
.apple-watch a{
    color: #2984bf;
    text-decoration: none;
    padding-left: 30px;
    font-weight: bold;
}

.column-box2{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}



.column-box2{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
.apple-watch-circle{
    align-content: center;
    text-align: center;
    flex: 1;
    background-color: #fbfbfd;
    height: 35rem;
}
.apple-watch-circle img{
    height: 350px;
}
.apple-watch-circle h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    text-align: center;
}
.apple-watch-circle h1 img{
    height: 35px;
    align-content: center;
}
.apple-watch-circle p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.apple-watch-circle a{
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    align-content: center;
    font-size: 15px;
    color: #2984bf;
    text-decoration: none;
    padding-left: 30px;
    font-weight: bold;
}
.apple-watch-circle .se{
    font-family: 'Work Sans', sans-serif;
    color: #c51d28;
    font-weight: bold;
    font-size: 14px;
}

.apple-bundle{
    background-color: #f1f1f3;
    flex: 1;
    align-content: center;
    text-align: center;
    height: 35rem;
}
.apple-bundle h1{
    color: #1d1d1f;
}
.apple-bundle h1 img{
    height: 30px;
    align-content: center;
}
.apple-bundle p{
    color: white;
}
.apple-bundle .series{
    color: #c51d28;
    font-weight: bold;
}
.apple-bundle img{
    height: 350px;
}
.apple-bundle a{
    color: #2984bf;
    text-decoration: none;
    padding-left: 30px;
    font-weight: bold;
}


.column-box3{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
.apple-music{
    align-content: center;
    text-align: center;
    flex: 1;
    background-color: #ececec;
    height: 35rem;
}
.apple-music img{
    height: 350px;
}
.apple-music h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    text-align: center;
}
.apple-music p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.apple-music a{
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    align-content: center;
    font-size: 15px;
    color: #2984bf;
    text-decoration: none;
    padding-left: 30px;
    font-weight: bold;
}
.apple-tv{
    background-color: #f1f1f3;
    flex: 1;
    align-content: center;
    text-align: center;
    height: 35rem;
}
.apple-tv img{
    height: 100%;
    width: 100%;
}
footer{
    display: flex;
    height: 35rem;
    background-color: #f5f5f7;
}

footer .space1{
    flex: 1;
}
footer .space2{
    flex: 1;
}
footer .description{
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    flex: 2;
    font-size: 13px;
    color: #9a908e;
}
footer .description .line{
    padding-top: 10px;
}
.colum-text{
    display: flex;
}
.colum-text .shop-and-learn{
    text-decoration: none;
    list-style: none;
}
.colum-text .shop-and-learn h1{
    padding-top: 20px;
    padding-bottom: 10px;
    color: black;
    font-size: 12px;
}
.colum-text .shop-and-learn li{
    padding-top: 10px;
}

.colum-text .services{
    text-decoration: none;
    list-style: none;
    padding-left: 100px;
}
.colum-text .services h1{
    padding-top: 20px;
    padding-bottom: 10px;
    color: black;
    font-size: 12px;
}
.colum-text .services li{
    padding-top: 10px;
}

.colum-text .apple-store{
    text-decoration: none;
    list-style: none;
    padding-left: 70px;
}
.colum-text .apple-store h1{
    padding-top: 20px;
    padding-bottom: 10px;
    color: black;
    font-size: 12px;
}
.colum-text .apple-store li{
    padding-top: 10px;
}


.colum-text .for-business{
    text-decoration: none;
    list-style: none;
    padding-left: 100px;
}
.colum-text .for-business h1{
    padding-top: 20px;
    padding-bottom: 10px;
    color: black;
    font-size: 12px;
}
.colum-text .for-business li{
    padding-top: 10px;
}


.colum-text .apple-values{
    text-decoration: none;
    list-style: none;
    padding-left: 100px;
}
.colum-text .apple-values h1{
    padding-top: 20px;
    padding-bottom: 10px;
    color: black;
    font-size: 12px;
}
.colum-text .apple-values li{
    padding-top: 10px;
}

.description .footer-bottom a{
    color:  #2984bf;
    text-decoration: none;
}
.description .footer-bottom p{
    padding-top: 20px;
}
.description .footer-bottom .line2{
    padding-top: 0px;
}

.footer-bottom .copyright .policy{
    padding-left: 40px;
    color: black;
}
.footer-bottom .copyright .country{
    padding-left: 230px;
    color:  black;
}

@media (max-width: 700px){
    .column-box, .column-box2, .column-box3{
        flex-direction: column;
    }
}